html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(241, 247, 255);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu {
    background-color: rgb(1, 14, 31);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-color: orangered;
    border-bottom-style: solid;
    border-bottom-width: 8px;
}

#body {
    width: 90%;
    margin: auto;
}

h2 {
    text-align: center;
}

.menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-right: 1.5%;
}

#tSomm a, #calendrier a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

table {
    width: 100%;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

thead th {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

tbody td {
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

th.indexTH {
    width: 20%;
}

tbody tr.trIndex:hover, #calendrier td:hover, #tSomm .tdSomm:hover {
    background-color: rgb(1, 14, 31);
    color: white;
}

#calendrier td:hover a:link, #calendrier td:hover a:visited, #tSomm .tdSomm:hover a:link, #tSomm .tdSomm:hover a:visited {
    color: white;
}

table .rangeBouton {
    width: 33.33%
}

table .extremite {
    border-right: 0px;
}

#calendrier {
    font-size: 20px;
    text-align: center;
}

#calendrier th {
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#calendrier td {
    width: 14.28%;
    height: 75px;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}

#tSomm .tdSomm {
    width: 33.33%;
}

h4 {
    color: rgb(194, 26, 26);
}

button {
    width: 45%;
    background-color: transparent;
    border: 2px;
    border-color: orangered;
    border-style: solid;
    font-weight: bold;
    color: rgb(1, 14, 31);
}

button:hover, tr.trIndex:hover button{
    color: rgb(241, 247, 255);
    border-color: rgb(1, 14, 31);
    background-color: orangered;
}

.rangeBouton button {
    width: 50%;
    max-width: 150px;
}

#conn button {
    max-width: 150px;
}

.extremite button {
    max-width: 150px;
    width: 90%;
}

#retour button{
    max-width: 150px;
    margin-bottom: 15px;
}

#btnForm {
    width: 200px;
}

#conn {
    text-align: center;
}

label {
    display: inline-block;
    width: 225px;
    text-align: right;
}

div.divForm {
    padding-bottom: 9px;
}

div.precedent {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 5px;
}

div.suivant {
    float: right;
    width: 20%;
    margin-right: 0%;
    text-align: center;
    margin-bottom: 5px;
}

div.indexbtn {
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 5px;
}

a.case_link {
    display:block;
    width:100%;
    height:100%;
}

#annuler {
    margin-top: 15px;
}