{% extends "menu.html" %}
{% block content %}
    <h2>Ajout d'une entrée</h2>
    <div id="conn">
        {% if erreur is defined %}
            {% for err in erreur %}
                <h4>{{err}}</h4>
            {% endfor %}
        {% endif %}
        <form id="ajout" method="POST" action="/{{matricule}}/{{date_du_jour}}/ajout">
            <div class="divForm">
                <label for="matricule">Matricule: </label>
                <input type="text" id="matricule" name="matricule" value="{{mat_form}}">
            </div>
            <div class="divForm">
                <label for="projet">Code de projet: </label>
                <input type="text" id="projet" name="projet" value="{{projet}}">
            </div>
            <div class="divForm">
                <label for="date">Date: </label>
                <input type="text" id="date" name="date" value="{{date_form}}">
            </div>
            <div class="divForm">
                <label for="duree">Temps travaillé (minutes): </label>
                <input type="text" id="duree" name="duree" value="{{duree}}">
            </div>
            <button id="btnForm" type="submit">Ajouter</button>
        </form>
        <form id="annuler" action="/{{matricule}}/{{date_du_jour}}" method="GET">
            <button type="submit">Annuler</button>
        </form>
    </div>
{% endblock %}