{% extends "menu.html" %}
{% block content %}
    <h2>Calendrier</h2>
    <h2>{{nom_mois}} {{annee}}</h2>
    <div id="body">
        <h3>Matricule: {{matricule}}</h3>
        <div id="retour">
            <form action="/{{matricule}}/{{date_menu}}" method="GET">
                <button type="submit">Aujourd'hui</button>
            </form>
            <form action="/{{matricule}}" method="GET">
                <button type="submit">Sommaire</button>
            </form>
        </div>
        <div class="precedent">
            <form id="form-prec" action="/{{matricule}}/overview/{{mois}}/precedent" method="GET">
                <button type="submit"><< Précédent</button>
            </form>
        </div>
        <div class="suivant">
            <form id="form-suiv" action="/{{matricule}}/overview/{{mois}}/suivant" method="GET">
                <button type="submit">Suivant >></button>
            </form>
        </div>
        {% if calendrier is defined %}
            <table id="calendrier">
                <tr>
                    <th>lundi</th>
                    <th>mardi</th>
                    <th>mercredi</th>
                    <th>jeudi</th>
                    <th>vendredi</th>
                    <th>samedi</th>
                    <th>dimanche</th>
                </tr>
            {% for jour in calendrier %}
                {% if (loop.index - 1) is divisibleby 7 %}
                    <tr>
                {% endif %}
                    {% if jour == "" %}
                        <td>{{jour}}</td>
                    {% else %}
                        <td><a class="case_link" href="/{{matricule}}/{{mois}}-{{jour[1]}}">
                            {{jour[1]}}
                            {% if jour[0] > 1 %}
                                <br>{{jour[0]}} minutes
                            {% elif jour[0] == 1 %}
                                <br>{{jour[0]}} minute
                            {% endif %}
                        </a></td>
                    {% endif %}
                {% if (loop.index) is divisibleby 7 %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}