{% extends "menu.html" %}
{% block content %}
<h2>Tableau de bord</h2>
{% if matricule is defined and date_du_jour is defined %}
    <div id="body">
        <h3>Matricule: {{matricule}}</h3>
        <h3>Date: {{date_du_jour}}</h3>
    {% if listeHeures is defined %}
        <div class="indexbtn">
            <form id="form-prec" action="/{{matricule}}/{{date_du_jour}}/precedent" method="GET">
                <button type="submit"><< Précédent</button>
            </form>
        </div>
        <div class="indexbtn">
            <form id="form-ajout" action="/{{matricule}}/{{date_du_jour}}/ajout" method="GET">
                <button type="submit">Ajout d'un projet</button>
            </form>
        </div>
        <div class="indexbtn">
            <form id="form-suiv" action="/{{matricule}}/{{date_du_jour}}/suivant" method="GET">
                <button type="submit">Suivant >></button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="indexTH">Matricule</th>
                    <th class="indexTH">Code du projet</th>
                    <th class="indexTH">Date</th>
                    <th class="indexTH">Temps travaillé (minutes)</th>
                    <th class="indexTH" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% if listeHeures|count > 0 %}
                    {% for projet in listeHeures %}
                        <tr class="trIndex">
                            {% set id = namespace(id = 0) %}
                            {% set premier = namespace(bool=true) %}
                            {% for info in projet %}
                                {% if not premier.bool %}
                                    <td>{{info}}</td>
                                {% else %}
                                    {% set id.id = info %}
                                    {% set premier.bool = false %}
                                {% endif %}
                            {% endfor %}
                            <td class="extremite">
                                <form id="form-mod{{id.id}}" action="/{{matricule}}/{{date_du_jour}}/modifier/{{id.id}}" method="GET">
                                    <button type="submit">Modifier</button>
                                </form>
                            </td>
                            <td class="extremite">
                                <form id="form-supp{{id.id}}" action="/{{matricule}}/{{date_du_jour}}/supprimer/{{id.id}}" method="GET">
                                    <button type="submit">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr><td colspan="6">Aucun projet pour cette journée</td></tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% endif %}
{% endblock %}