<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>TP1 - ROYJ17058807</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="menu"><a href="/">TP #1 - Par Jonathan Roy - ROYJ17058807</a></div>
        <h2>FEUILLE DE TEMPS</h2>
        <div id="conn">
            {% if erreur is defined %}
                <h4>{{erreur}}</h4>
            {% endif %}
            <form action="/" method="post">
                <label for="matricule">Entrez votre matricule: </label>
                <input id="matricule" name="matricule" type="text"><br><br>
                <button type="submit">Connexion</button>
            </form>
        </div>
    </body>
</html>