<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>TP1 - ROYJ17058807</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="menu">
            <a href="/{{matricule}}">Sommaire</a>
            <a href="/{{matricule}}/{{date_menu}}">{{matricule}}</a>
            <a href="/">Déconnexion</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>