{% extends "menu.html" %}
{% block content %}
    <h2>Modification d'une entrée</h2>
    <div id="conn">
        {% if erreur is defined %}
            {% for err in erreur %}
                <h4>{{err}}</h4>
            {% endfor %}
        {% endif %}
        {% if infos is defined %}
            <form id="modification" method="POST" action="/{{matricule}}/{{date_du_jour}}/modifier/{{infos[0][0]}}">
                <div class="divForm">
                    <label for="matricule">Matricule: </label>
                    <input type="text" id="matricule" name="matricule" value="{{infos[0][1]}}">
                </div>
                <div class="divForm">
                    <label for="projet">Code de projet: </label>
                    <input type="text" id="projet" name="projet" value="{{infos[0][2]}}">
                </div>
                <div class="divForm">
                    <label for="date">Date: </label>
                    <input type="text" id="date" name="date" value="{{infos[0][3]}}">
                </div>
                <div class="divForm">
                    <label for="duree">Temps travaillé (minutes): </label>
                    <input type="text" id="duree" name="duree" value="{{infos[0][4]}}">
                </div>
                <button id="btnForm" type="submit">Modifier</button>
            </form>
        {% endif %}
        <form id="annuler" action="/{{matricule}}/{{date_du_jour}}" method="GET">
            <button type="submit">Annuler</button>
        </form>
    </div>
{% endblock %}