{% extends "menu.html" %}
{% block content %}
    <h2>Sommaire par mois</h2>
    <div id="body">
        <h3>Matricule: {{matricule}}</h3>
        <div id="retour">
            <form action="/{{matricule}}/{{date_menu}}" method="GET">
                <button type="submit">Aujourd'hui</button>
            </form>
        </div>
        {% if mois is defined %}
            {% if mois|count > 0 %}
                <table id="tSomm">
                {% set cpt = namespace(i = 0) %}
                {% for un_mois in mois %}
                    {% if (loop.index - 1) is divisibleby 3 %}
                        <tr>
                    {% endif %}
                    <td class="tdSomm"><a href="/{{matricule}}/overview/{{un_mois[0]}}-{{un_mois[1]}}">{{un_mois[2]}} {{un_mois[0]}}</a></td>
                    {% if loop.index is divisibleby 3 %}
                        </tr>
                    {% endif %}
                    {% set cpt.i = loop.index %}
                {% endfor %}
                {% for i in range(1, 3) %}
                    {% if cpt.i is not divisibleby 3 %}
                        {% set cpt.i = cpt.i + 1 %}
                        <td class="tdSomm"></td>
                    {% endif %}
                {% endfor %}
                </tr></table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}